body{
    margin:0;
    border:0;
    width: 800px;
}
h1 {
    text-align: center;
    
}
.reto1{
    display:flex;
    justify-content:center;
}
#reto1_img{
    height: 150px;
}

.reto2{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#reto2_sticket1, #reto2_sticket2, #reto2_sticket3{
    height: 100px;
}

#reto2_resultado{
 text-align: center;
 text-align: center;
}

#reto2_button{
    margin-left: 50%;
    margin-right: 50%;
}

.reto3{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.reto3_selects{
    display: flex;
    justify-content:center;
    align-items: center;
}